body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 10px;
  font-weight: bold;
}

.custom-card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}

.hurray {
  color: orange;
  border-bottom: 1px solid orange;
  padding: 5px;
}

a{
   padding: 5px;
}

a:hover{
  text-decoration: none;
  color: black;

}
